.root{
    -fx-base: #1e1e1e;
    -fx-background-color: #202b35;
    -fx-text-fill: white;
    -fx-border-color: blue; 
    -fx-font-style: italic;
}

.label{
    -fx-text-fill: white;
}

.button{
    -fx-background-color: #2c4b64;
    -fx-text-fill: white;
    -fx-border-color: rgb(76, 25, 218); 
    -fx-border-width: 2px; 
    -fx-border-radius: 10px; 
    -fx-background-radius: 10px; 
    -fx-padding: 5px 5px 5px 5px;
}

.button:hover{
    -fx-scale-y: 1.1; 
    -fx-scale-x: 1.1;
    -fx-opacity: 90%; 
}
.text-field, .password-field{ 
    -fx-background-color: #2c4b64;
    -fx-text-fill: white;
    -fx-background-radius: 5px; 
    -fx-border-color: rgb(76, 25, 218); 
    -fx-border-width: 2px; 
    -fx-border-radius: 5px; 
    -fx-padding: 10px; 
}
